{% extends 'index.html' %}

{% load static %}

{% block title %}
<title>Bad Request</title>
{% endblock %}

{% block body %}
<body class="t-profile-01">
{% endblock %}

{% block header %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="intro-text ">
                <h1>Error 400</h1>
                <h3><span class="b-active">Bad Request</span></h3>
            </div>
        </div>
    </div><!-- /.row -->
</div><!-- /.container -->

{% endblock %}
