{% extends 'index.html' %}

{% load static %}

{% block title %}
<title>About | Productivity Booster Services</title>
{% endblock %}

{% block body %}
<body class="t-profile-01">
{% endblock %}

{% block header %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="intro-text ">
                <h1>About Us</h1>
                <p><span><a href="{% url 'Service:home' %}">Home <i class='fa fa-angle-right'></i></a></span><span class="b-active"> About</span></p>
            </div>
        </div>
    </div><!-- /.row -->
</div><!-- /.container -->

{% endblock %}

{% block content %}
<!-- About Area section -->
<section class="teacher-prolile-01 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 t-profile-left">
                <div class="teacher-contact">
                    <img src="{% static 'images/teachars/t-profile-01.jpg' %}" alt="" class="img-responsive">
                    <h3>Contact Info</h3>
                    <p><span>Email:</span> martin@EduWeb.com</p>
                    <p><span>Phone:</span> 61 3 8376 6284</p>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter "></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-9 t-profile-right">
                <div class="row all-corsess-wapper">
                    <div class="col-sm-12">
                        <div class="all-courses">
                            <h3>WHAT WE STAND FOR</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in finibus neque.
                                Vivamus in ipsum quis elit vehicula tempus vitae quis lacus. Vestibulum interdum diam
                                non mi cursus venenatis. Morbi lacinia libero et elementum vulputate. Vivamus et
                                facilisis mauris. Maecenas nec massa auctor, ultricies massa eu, tristique erat. Vivamus
                                in ipsum quis elit vehicula tempus vitae quis lacus. Eu pellentesque, accumsan tellus
                                leo, ultrices mi dui lectus sem nulla eu.Eu pellentesque, accumsan tellus leo, ultrices
                                mi dui </p>
                            <p>lectus sem nulla eu. Maecenas arcu, nec ridiculus quisque orci, vulputate mattis risus
                                erat. lectus sem nulla eu.Eu pellentesque, accumsan tellus leo, ultrices mi dui lectus
                                sem nulla eu. Maecenas arcu, nec ridiculus quisque orci, vulputate mattis risus
                                erat.</p>
                        </div>
                    </div>
                </div>

                <div class="row courses-instuctor">
                    <div class="col-sm-12">
                        <h3 class="courses-title">SEMINARS WE HAVE ORGANIZED</h3>
                        <div class="row item-margin">
                            <div class="col-sm-6 instractor-single">
                                <div class="instractor-courses-single">
                                    <div class="img-box">
                                        <img src="{% static 'images/teachars/latest-01.jpg' %}" alt=""
                                             class="img-responsive">
                                    </div>
                                    <div class="instractor-courses-text">
                                        <div class="instractor-parson">
                                            <div class="parson-img">
                                                <img src="{% static 'images/teachars/instractor-01.jpg' %}" alt=""
                                                     class="img-circle">
                                            </div>
                                            <p>Venue: Lagos</p>
                                        </div>
                                        <div class="text-bottom">
                                            <h3><a href="#">Mathematics and Statistics</a></h3>
                                            <p>Lorem ipsum dolor sit amet consepctetur adipiscing elit Etiam at ipsum at
                                                ligula vestibulum sodales Sed luctus.</p>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-user"></i>50 Students</li>
                                            <li>$50.00</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-6 instractor-single">
                                <div class="instractor-courses-single">
                                    <div class="img-box">
                                        <img src="{% static 'images/teachars/latest-02.jpg' %}" alt=""
                                             class="img-responsive">
                                    </div>
                                    <div class="instractor-courses-text">
                                        <div class="instractor-parson">
                                            <div class="parson-img">
                                                <img src="{% static 'images/teachars/instractor-01.jpg' %}" alt=""
                                                     class="img-circle">
                                            </div>
                                            <p>Venue: Lagos</p>
                                        </div>
                                        <div class="text-bottom">
                                            <h3><a href="#">Mathematics and Statistics</a></h3>
                                            <p>Lorem ipsum dolor sit amet consepctetur adipiscing elit Etiam at ipsum at
                                                ligula vestibulum sodales Sed luctus.</p>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-user"></i>50 Students</li>
                                            <li>$50.00</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row item-margin">
                            <div class="col-sm-6 instractor-single">
                                <div class="instractor-courses-single">
                                    <div class="img-box">
                                        <img src="{% static 'images/teachars/latest-03.jpg' %}" alt=""
                                             class="img-responsive">
                                    </div>
                                    <div class="instractor-courses-text">
                                        <div class="instractor-parson">
                                            <div class="parson-img">
                                                <img src="{% static 'images/teachars/instractor-01.jpg' %}" alt=""
                                                     class="img-circle">
                                            </div>
                                            <p>Venue: Lagos</p>
                                        </div>
                                        <div class="text-bottom">
                                            <h3><a href="#">Mathematics and Statistics</a></h3>
                                            <p>Lorem ipsum dolor sit amet consepctetur adipiscing elit Etiam at ipsum at
                                                ligula vestibulum sodales Sed luctus.</p>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-user"></i>50 Students</li>
                                            <li>$50.00</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-6 instractor-single">
                                <div class="instractor-courses-single">
                                    <div class="img-box">
                                        <img src="{% static 'images/teachars/latest-02.jpg' %}" alt=""
                                             class="img-responsive">
                                    </div>
                                    <div class="instractor-courses-text">
                                        <div class="instractor-parson">
                                            <div class="parson-img">
                                                <img src="{% static 'images/teachars/instractor-01.jpg' %}" alt=""
                                                     class="img-circle">
                                            </div>
                                            <p>Venue: Lagos</p>
                                        </div>
                                        <div class="text-bottom">
                                            <h3><a href="#">Mathematics and Statistics</a></h3>
                                            <p>Lorem ipsum dolor sit amet consepctetur adipiscing elit Etiam at ipsum at
                                                ligula vestibulum sodales Sed luctus.</p>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-user"></i>50 Students</li>
                                            <li>$50.00</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ./ End About Area section -->

{% endblock %}