{% extends 'index.html' %}

{% load static %}

{% block title %}
<title>Contact Us | Productivity Booster Services</title>
{% endblock %}

{% block body %}
<body class="contact">
{% endblock %}

{% block header %}

<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="intro-text ">
						<h1>Contact Us</h1>
						<p><span><a href="#">Home <i class='fa fa-angle-right'></i></a></span> <span class="b-active">Contact</span></p>
					</div>
				</div>
			</div><!-- /.row -->
		</div><!-- /.container -->

{% endblock %}

{% block content %}

<!-- Contact Area section -->
<section class="contact-area-02">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 contact-info">
				<div class="col-sm-12 contact-title">
					<h2>Contact Info</h2>
					<p class="content-sub_p">Welcome to Productivity Booster Services. We are glad to have you around.</p>
				</div>
				<div class="col-sm-12 contact-box">
					<div class="row">
						<div class="col-sm-12 col-md-6 single-address-box">
                            <div class="single-address">
                                <i class="fa fa-phone"></i>
                                <h4>Phone</h4>
                                <p>+7 (800) 123 45 69</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6  single-address-box">
                            <div class="single-address">
                                <i class="fa fa-envelope"></i>
                                <h4>Email</h4>
                                <p>hello@education.com</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 single-address-box">
                            <div class="single-address">
                                <i class="fa fa-map-marker"></i>
                                <h4>Location:</h4>
                                <p>3481 Melrose Place, Beverly Hills CA 90210, US</p>
                            </div>
	                    </div>
	                	<div class="col-sm-12 single-address-box">
	                        <ul class="list-unstyled">
								<li><a href="#"><i class="fa fa-facebook teacher-icon"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter teacher-icon"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus teacher-icon"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin teacher-icon"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram teacher-icon"></i></a></li>
							</ul>
	                	</div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</section>
<!-- ./ End Contact Area section -->

{% endblock %}